
.delayed {
  //display: none !important;
  @apply .relative .pin-t;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.delayed-hidden {
  @apply .opacity-0 .relative;
  top: -20px;
}
