
button:focus {outline:0;}

.btn-group {
  @apply .flex .items-start;

  @screen lg {
    @apply .flex-col;
  }
}

.btn {
  @apply .block;
  @apply .relative;
  @apply .min-w-180;
  @apply .rounded-full;
  @apply .font-medium .text-black .tracking-wide .text-center .px-8;

  height: 44px;
  line-height: 44px;

  white-space: nowrap;
  text-overflow: ellipsis;

  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;


  &--small {
    @apply .min-w-100 .p-0;
  }
  &--small.ladda-button {
    @apply .px-8;
  }
}

.btn > a {
  display: block;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  letter-spacing: inherit;
  text-decoration: none;
}

.btn > a, .btn > .ladda-label {
  @apply .w-full .h-full .block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ladda-button[data-style=expand-right][data-loading] .ladda-label {
  @apply .pr-0;
}

.btn--red {
  @apply .text-white;
  @apply .shadow-red-md;

  &:hover {
    @extend .btn--red-hovered;
  }

  &.btn--small {
    @apply .shadow-red-sm;

    &:hover {
      @apply .shadow-red-md;
    }
  }

  &:focus {
    @extend .btn--red-focused;
  }

  @extend .bg-red-gradient;
  //background-image: linear-gradient(76deg, #d32f2f, #f44336);
  //background-image: linear-gradient(76deg, #d32f2f, #f44336);
  //-webkit-box-shadow: 0 9px 13px 0 rgba(244, 67, 54, 0.34);
  //-moz-box-shadow: 0 9px 13px 0 rgba(244, 67, 54, 0.34);
  //box-shadow: 0 9px 13px 0 rgba(244, 67, 54, 0.34);
}

.btn--red-hovered {
  @apply .shadow-red-lg;

  background-image: linear-gradient(76deg, #f44336, #d32f2f);
  background-image: linear-gradient(76deg, #f44336, #d32f2f);
}

.btn--red-focused {
  @apply .shadow-red-lg;
  outline: none;
}

.btn--white {
  @apply .text-grey-darkest;
  @apply .bg-white;
  @apply .shadow-grey-md .border .border-white-darker;

  &:hover {
    @extend .btn--white-hovered;
  }

  &:focus {
    @extend .btn--white-focused;
  }

  //& .ladda-spinner {
  //  @apply .bg-grey;
  //}

  //-webkit-box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.34);
  //-moz-box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.34);
  //box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.34);
}

.btn--white-hovered {
  @apply .shadow-grey-xl;
}

.btn--white-focused {
  @apply .shadow-grey-lg;
  outline: none;
}

.btn--play {
  @apply .pl-4 .pr-12;
}

.btn--play::after {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: 22%;
  right: 10px;
  background: transparent url("../images/svg/btn-ico-play.svg") no-repeat right center;
  background-size: 24px 24px;
}

.btn--play .play-img {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -130%;
  right: -30%;
  background: transparent url("../images/svg/ico-paly.svg") no-repeat left top;
  background-size: 100% 100%;

  @screen md {
    @apply .hidden;
  }
}

.btn--transparent {
  @apply .min-w-120;
  @apply .font-medium .text-sm .tracking-wide .text-white .uppercase;
  @apply .bg-transparent .shadow-none;
  @apply .border-2 .border-white;
  line-height: 42px;

  background-image: none;

  &:hover {
    @extend .btn--transparent-hovered;
  }
}

.btn--transparent-hovered {
  @apply .bg-white;
  @apply .text-black;
}

.btn--accent {
  @apply .font-medium .text-sm .tracking-wide .text-white .uppercase;
  @apply .shadow-none;
  background-color: rgb(45, 56, 202);
  background-image: none;
}

.btn--disabled {
  opacity: 0.75;
  cursor: default;
  pointer-events: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-mobile {
  @apply .flex .items-center .bg-transparent .border .border-black .px-2 .py-1;
  //z-index: 2;
  min-width: 100px;
  height: 34px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;

  & span {
    @apply .mx-auto;
    @extend .nav__link;
    vertical-align: text-top;
    white-space: nowrap;
    text-overflow: ellipsis;

    //.nav-opened & {
    //  @apply .text-white;
    //}
  }

  &:before {
    @apply .inline-block .mr-2 .flex-none;
    content: '';
    //vertical-align: sub;
    //text-align: center;
    //font-size: 2.5em;
    //line-height: 0;
  }

  &--default {
    @apply .text-black;
  }

  &--transparent {
    @apply .border-yellow .text-white;

    & span {
      @apply .text-white;
    }
  }

  &--icon-hamb {
    &:before {
      @apply .text-white;
      width: 25px;
      height: 19px;
      background: transparent url("../images/common/ico-menu.svg") no-repeat left top;
      background-size: 100% 100%;
      //content: '≡';
    }

    &--black {
      &:before {
        @apply .text-white;
        width: 25px;
        height: 19px;
        background: transparent url("../images/common/ico-menu-black.svg") no-repeat left top;
        background-size: 100% 100%;
        //content: '≡';
      }
    }
  }

  &--icon-user {
    &:before {
      width: 15px;
      height: 18px;
      background: transparent url("../images/common/ico-user.svg") no-repeat left top;
      background-size: 100% 100%;
    }
  }

  &--icon-back {
    &:before {
      width: 15px;
      height: 18px;
      background: transparent url("../images/common/ico-back.svg") no-repeat left top;
      background-size: 100% 100%;
    }
  }
}

.btn--multi-line {
  //@apply .pl-6 .pr-12 .normal-case .border-yellow-dark .mt-16 .ml-12 .leading-tight;
  @apply .normal-case .leading-tight .px-0;
  max-width: 300px;
  height: auto;

  & > a {
    //@apply .flex .items-center .justify-between .w-full .h-full .text-left .px-6;
    @apply .w-full .h-full .text-left .px-6;
    padding-top: .65rem;
    padding-bottom: .65rem;
    white-space: normal;
  }
}

.btn--join-event {
  //@apply .pl-6 .pr-12 .normal-case .border-yellow-dark .mt-16 .ml-12 .leading-tight;
  @apply .border-yellow-dark .mt-12;
  @extend .btn--multi-line;

  & > a {
    @apply .pr-12;
  }

  & a::after {
    content: '';
    width: 29px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 10px;
    background: transparent url("../images/common/ico-join-yellow.svg") no-repeat left center;
    background-size: 100% 26px;
  }

  &:hover {
    @apply .bg-yellow-dark;
    & a::after {
      background: transparent url("../images/common/ico-join.svg") no-repeat left center;
    }
  }

  @screen lg {
    @apply .ml-0 .mt-8;
  }

  @screen sm {
    @apply .hidden;
  }

  @screen xs {
    @apply .pr-4;
    &::after {
      @apply .hidden;
    }
  }
}

.btn-CTA {
  @apply .border-2 .border-yellow-dark .uppercase;
  @extend .btn--white;
}

.btn-wallet-group {
  @apply .mt-12;

  @screen sm {
    @apply .hidden;
  }
}

.btn-download-wallet {
  //@apply .border-2 .border-yellow-dark;
  //@extend .btn--white, .btn--multi-line;
  @apply .normal-case;
  @extend .btn-CTA, .btn--multi-line;

  &__hint {
    @apply .block .leading-extra-tight .text-xs .text-grey-darker;
  }
  &__body {
    @apply .block .font-bold .leading-extra-tight;
  }

  & > a {
    @apply .py-2 .pl-12;
  }

  & a::before {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 18px;
  }

  & a.icon-win::before {
    width: 21px;
    background: transparent url("../images/wallet/ico-windows.svg") no-repeat left 50%;
    background-size: 100% 21px;
  }

  & a.icon-mac::before {
    width: 20px;
    background: transparent url("../images/wallet/ico-apple.svg") no-repeat left 40%;
    background-size: 100% 25px;
  }
}

