
.ml-menu {
  @apply .relative .overflow-hidden;
  //height: calc(50vh - 50px);
  //min-height: 300px;
  //max-height: 600px;

  & .menu__wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
  }

  //& .menu__breadcrumbs {
  //  @apply .hidden;
  //}

  & .menu__level {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  & .menu__level--current {
    visibility: visible;
  }

  //& .menu__item, & .menu__link {
  //  @apply .static;
  //}

  & .menu__link[data-submenu]::after {
    @apply .inline-block .ml-2;
    content: '';
    //font-family: 'feather';
    //position: absolute;
    //top: 1px;
    //right: -20px;
    width: 9px;
    height: 14px;
    //padding: 0.25em 1.25em;
    //color: #2a2b30;
    background: transparent url("../images/common/ico-arrow-right.svg") no-repeat left top;
    background-size: 100% 100%;
  }

  .submenu-back {
    line-height: 30px;
    & .back-arrow {
      @apply .inline-block .align-top;
      //top: 1px;
      //left: -20px;
      width: 33px;
      height: 28px;
      background: transparent url("../images/common/ico-back-double.svg") no-repeat left top;
      background-size: 100% 100%;
    }
    &::before {
      @apply .hidden;
    }
  }

  .menu__back {
    //font-size: 1.05em;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    margin: 0;
    //padding: 1.365em 0.65em 0 0;
    cursor: pointer;
    color: #fff;
    border: none;
    //background: none;
    width: 40px;
    height: 30px;
    background: transparent url("../images/common/ico-back-arrow.svg") no-repeat left top;
    background-size: 100% 100%;
  }

  .menu__back--hidden {
    pointer-events: none;
    opacity: 0;
  }

  //.menu__back:hover,
  //.menu__back:focus {
  //  color: #fff;
  //  outline: none;
  //}

  [class^='animate-'],
  [class*=' animate-'] {
    visibility: visible;
  }

  .animate-outToRight .menu__item {
    -webkit-animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  }

  @-webkit-keyframes outToRight {
    to {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }

  @keyframes outToRight {
    to {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }

  .animate-outToLeft .menu__item {
    -webkit-animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  }

  @-webkit-keyframes outToLeft {
    to {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

  @keyframes outToLeft {
    to {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

  .animate-inFromLeft .menu__item {
    -webkit-animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  }

  @-webkit-keyframes inFromLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes inFromLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .animate-inFromRight .menu__item {
    -webkit-animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  }

  @-webkit-keyframes inFromRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes inFromRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}